@font-face {
    font-family: 'officina';
    src: url("../fonts/oficsb.otf");
}

@font-face {
    font-family: 'roboto';
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: 'pfs';
    src: url("../fonts/PFSquareSansPro-Bold.woff");
}

.mt-none { margin-top: 0  !important; }
.mt-sm { margin-top: 0.4em  !important; }
.mt-md { margin-top: 0.8em  !important; }
.mt-lg { margin-top: 1em  !important; }
.mt-xlg { margin-top: 1.6em  !important; }

.mb-none { margin-bottom: 0  !important; }
.mb-sm { margin-bottom: 0.4em  !important; }
.mb-md { margin-bottom: 0.8em  !important; }
.mb-lg { margin-bottom: 1em  !important; }
.mb-xlg { margin-bottom: 1.6em !important;}

.mr-sm { margin-right: 0.4em  !important; }

.mb-none { margin-left: 0  !important; }
.ml-sm { margin-left: 0.4em  !important; }
.ml-md { margin-left: 0.8em  !important; }
.ml-lg { margin-left: 1em  !important; }
.ml-xlg { margin-left: 1.6em !important;}

* {
    font-family: roboto;
    /* font-size: 14px; */
}

.h1, .h2, .sunburst *, .altfont {
    font-family: 'pfs';
}

body {
    overflow-x: hidden;
}

.bg-light{
  background-color: #fafbf69e;
  padding:5px;
}

.discount{
  background: #e4e4e4;
  width: 84%;
  padding: 1em;
  position: relative;
  left: 120px;
}

.light-red-color{
  color:#ec6150;
}


.btn-promo{
  width: 100%;
  padding: 11px;
  font-size: 17px;
}

.lead {
    font-size: 1.16em;
}


.lead.bigger {
    font-size: 1.66em;
}

.has-error .form-control {
    box-shadow: inset 0 1px 10px rgba(255,0,0,.75);
}

.push-top {margin-top: 1.618em}
.clearall {clear: both}

.btn-primary {
    background: rgb(211,4,4); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(211,4,4,1) 0%, rgba(216,45,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(211,4,4,1)), color-stop(100%,rgba(216,45,45,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(211,4,4,1) 0%,rgba(216,45,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(211,4,4,1) 0%,rgba(216,45,45,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(211,4,4,1) 0%,rgba(216,45,45,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(211,4,4,1) 0%,rgba(216,45,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30404', endColorstr='#d82d2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 0.2s ease;
    border: #ffffff solid 2px;
}

.btn-primary:hover {
    border: #ffef28 solid 2px;
    color: #ffff00;
    box-shadow: 0 2px 6px rgba(0,0,0,0.46);
}

.btn.clothed {
    border: #ffffff dotted 2px;
    white-space: inherit;
    padding-bottom: 16px;
    padding-right: 18px;
}

.form-group input.form-control {
  padding-left: 2em;
}

.form-inline .fa {
    left: 27px;
    top: 2px;
    position: relative;
    font-size: 1.12em;
}

.form-inline .form-group-lg .fa {
    color: red;
    left: 30px;
}

#first{
  position: relative;
}

#first .promo-bottom-text{
  width: 30%;
  position: absolute;
  bottom:25px;
}



#promo .form-group {
    position: relative;
    width: 100%;
}



#promo .form-group .form-control {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}

#promo .form-group .fa {
    left: 9px;
    top: 9px;
    position: absolute;
    font-size: 1.12em;
}

.sunburst {
    background: url(../img/autumn.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 2em 0;
    color: white;
}


.sunburst p {
    text-shadow: 0 1px 5px black;
}

#main-nav {margin-top: 0.63em; background: none; border: none; border-radius: 0; box-shadow: none; transition: all 0.2s ease; -webkit-transition: all 0.2s ease;}
#main-nav a {font-family: 'pfs'}
#advantages {
    background-size: contain;
    background-position: bottom right;
    border-bottom: silver solid 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.13);
    padding-bottom: 5.618em;
}

#advantages .managers{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#advantages .managers li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  width: 147px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 6px;
  overflow: hidden;
}

#advantages .managers li:hover{
  transform: scale(1.1);
}

#advantages .managers li p{
  background: #ec6150;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;

}

#advantages .managers li img{
  height: 200px;
  width: 100%;
  border: 2px solid #ec6250;
  border-bottom: none;
}

#advantages .h1 {
    margin-bottom: 1.3em;
}

#advantages .items p {
    margin-top: 0.6em;
    margin-bottom: 3.226em;
    text-align: center;
}

#production {
    background: url('../img/cloth.jpeg') repeat-x;
    background-size: contain;
    padding-bottom: 0;
    border-top: gray dashed 4px;
    border-bottom: #737373 dashed 4px;
}

#production .h1 {
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.96), 0 2px 20px rgba(0,0,0,36);
}

#production-slider {
    transform: perspective(450px) rotateY(-1deg);
    margin-bottom: -20px;
}



#director_speech {
    background: #ffffff;
    padding: 0 1.618em 0.66em 1.618em;
}

#director_speech p {
    padding: 1.2em 0 0 0;
    font-style: italic;
    font-weight: bold;
}

#production-types .item {
    padding-bottom: 0.3em;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

#production-types .item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 1px 20px rgba(0,0,0,.33);
}


#assortiment {
    background: rgb(255,252,252); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,252,252,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,252,252,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,252,252,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,252,252,1) 0%,rgba(245,249,240,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,252,252,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,252,252,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 0 0 2em 0;
}

#assortiment .item {
    min-height: 80px;
    position: relative;
}

#assortiment .item img.image {

}

#assortiment .item:nth-child(odd) {

}

.product-description {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000000;
    padding: 10px 10px 10px 18px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#whowewantto {
    padding: 2em 0 8em 0;
}

#sertificates {
    padding: 2em 0;
    background: rgb(255,170,0); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(255,170,0,1) 0%, rgba(255,230,48,1) 52%, rgba(255,255,255,1) 52%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,170,0,1)), color-stop(52%,rgba(255,230,48,1)), color-stop(52%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,170,0,1) 0%,rgba(255,230,48,1) 52%,rgba(255,255,255,1) 52%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,170,0,1) 0%,rgba(255,230,48,1) 52%,rgba(255,255,255,1) 52%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,170,0,1) 0%,rgba(255,230,48,1) 52%,rgba(255,255,255,1) 52%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,170,0,1) 0%,rgba(255,230,48,1) 52%,rgba(255,255,255,1) 52%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#sertificates .h1 {
    text-shadow: 0 1px 1px white;
}

#sertificates .item {
    position: relative;
    min-height: 220px;
    margin-bottom: 1.618em;
    transform: perspective(200px) rotateY(3deg) rotateX(3deg);
}

#sertificates .item .fa {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.618em;
    color: white;
    text-shadow: 0 1px 2px black;
}

#sertificates .item img {
    box-shadow: 0 3px 12px rgba(0,0,0,0.33);
}

#sertificates .h1 {
    margin-bottom: 0.809em;
}

#sertificates .lead:first-child {
    margin-top: 3em;
}

#testimonials {
    background: url('../img/people.jpg') no-repeat;
    background-size: cover;
    transform: rotate(-1deg);
    margin-top: -1%;
    margin-left: -1%;
    margin-bottom: -1%;
}

#testimonials-content {
    transform: rotate(1deg);
}

#testimonials .h1 {
    margin: 1.618em 0 0 0 ;
    color: #ffffff;
}

#testimonials .item {
    padding: 2em;
    border: #5cb85c solid 2px;
    min-height: 140px;
    margin-bottom: 1.618em;
    position: relative;
    background: #ffffff;
    border-radius: 8px;
    font-size: 1.18em;
    z-index: 5;
}
#testimonials .item:after {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: 10%;
    bottom: -14px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    transform: rotate(45deg);
    border-bottom: #5cb85c solid 2px;
    border-top: none;
    border-left: none;
    border-right: #5cb85c solid 2px;
}

#first {
    background: url('../img/bg.jpg') no-repeat,  -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,252,234,1)),
    color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background:url('../img/bg.jpg') no-repeat, -webkit-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
#promo {
    margin-top: 1em;
    padding-bottom: 2em;
    position: relative;
    color: #000;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
#promo .h2 {
    font-size: 3em;
}

#spring_action {
    border-top: rgba(206, 0, 0, 0.55) dotted 2px;
    background: /*url('../img/splash1.png') no-repeat, */-moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,242,201,1) 100%); /* FF3.6+ */
    background: /*url('../img/splash1.png') no-repeat, */-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,242,201,1))); /* Chrome,Safari4+ */
    background: /* url('../img/splash1.png') no-repeat,*/-webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,242,201,1) 100%); /* Chrome10+,Safari5.1+ */
    background: /* url('../img/splash1.png') no-repeat,*/ -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,242,201,1) 100%); /* Opera 12+ */
    background: /* url('../img/splash1.png') no-repeat,*/-ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,242,201,1) 100%); /* IE10+ */
    background: /* url('../img/splash1.png') no-repeat,*/radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,242,201,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-color: #f4f3df;
    background-size: /*600px*/, cover;
    background-position: -101px top, center left;
}
#spring_actio_n {
    background: url('../img/spring-wallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    color: #ffffff;
    padding-bottom: 2em;
}

#spring_action .items .h3 {
    border-bottom: white dashed 2px;
    margin-bottom: 0.96em;
    padding-bottom: 0.6em;
    float: left;
}

#spring_action .items .h4 {
    padding-left: 1em;
    float: left;
    max-width: 80%;
    margin-top: 0;
}

#limited_offer {
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    padding-bottom: 1em;
}

#our-conditions {
    /*background: url('../img/girl.jpg')no-repeat;
    background-size: inherit;
    background-position: right top; */
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

#our-conditions .h1 {
    margin-bottom: 0.66em;
}

#our-conditions .h4 {
    margin-bottom: 2.66em;
}
#our-conditions .item {
    padding-top: 0.8em;
    transition: all 0.3s ease;
    border: transparent dashed 4px;
}
#our-conditions .item:hover {
    background: white;
    border: #f6f6f6 dashed 4px;
    cursor: default;
}

#whyprofit {
    background: #f5f5f7;

}
#whyprofit .h4 {
    line-height: 1.4;
}


footer {
    padding: 1.3em 0 2em 0;
}

#items-slider {
    background: url('../img/back_blur.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0 1px 20px rgba(0,0,0,0.26) inset;
}

#modal_callback, #modal_catalog {
    margin-top: 10%;
}

.modal-content{
    border-radius: 0;
}

.form-group-lg .form-control {
    border-radius: 0;
    border-color: #b20000;
}

#responder {
    z-index: 99999;
    background: orange;
    color: black;
    position: fixed;
    padding: 1em 0 3em 0;
    bottom: -90000;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    opacity: 0;
    width: 100%;
}

#responder.active {
    bottom: 0 ;
    opacity: 1;
}

#dissmissResponder {
    margin: 8px;
}

#dissmissResponder:hover {
    cursor: pointer;
}

@-webkit-keyframes skew_animation {
    0% { -webkit-transform: skewY(0deg); }
    50% { -webkit-transform: skewY(10deg); }
    100% { -webkit-transform: skewY(0deg); }
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.15); }
    50% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1.05); }
    100% { -webkit-transform: scale(1); }
}

#callback {
    display:block;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 90px;
    height: 90px;
    opacity: 1;
    border-radius: 80px;
    background: #00a406;
    color: #ffffff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.45);
    z-index: 999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transform: scale(1);
    -webkit-transform: scale(1);

    -webkit-animation-name: 'skew_animation';
    -webkit-animation-duration: 2000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


#callback:hover {
    cursor: pointer;
    box-shadow: 0 1px 30px rgba(0,0,0,0.45);
    background: #00cd06;
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@media all and (min-width: 1367px) {
    #first {
        background: url('../img/bg.jpg') no-repeat,  -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
        background:url('../img/bg.jpg') no-repeat, -webkit-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }
}
